---
import Button from "./Button.astro";
---

<a 
  href="https://wa.me/34641437667" 
  target="_blank" 
  rel="noopener noreferrer" 
  class="min-w-max bg-primary text-white px-10 py-4 rounded-full text-center"
>
  ¡Solicita tu consulta gratuita!
</a>